{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * JITIT plugin for Craft CMS
 *
 * JITITUtility Utility Content
 *
 * @author    Kyle Andrews
 * @copyright Copyright (c) 2020 Kyle Andrews
 * @link      https://kyleandrews.dev/
 * @package   JITIT
 * @since     1.0.0
 */
#}

<h1>JITITUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@codewithkyle/jitit/assetbundles/jititutilityutility/dist', true) ~ '/img/JITITUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>